# Dependencies
node_modules/

# Prisma
/prisma/migrations
/prisma/dev.db

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debug
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
